@font-face{
    font-family: raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face{
    font-family: ralewayMedium;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face{
    font-family: ralewayBlack;
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}

*{
    font-family: raleway; 
}

*::selection {
    background-color: gray;
}

body{
    background-color: #e6e6e6;
}

.titleDiv{
    z-index: 20;
    height: 30%;
    pointer-events: none;
}

.name{
    font-size: 60px;
}

.subtitle{
    font-size: 16px;
    font-family: ralewayMedium;
}

.boldFont{
    font-family: ralewayBlack;
}

.playButton{
    z-index: 10;
}

.bg-image{

    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-size: 120% 255%;
    background-position: -35vw 30%;
    transition: background-image 7s ease-in-out;
    
}


/*Cambia el color del texto dependiendo del color de fondo*/
.textColor {
    filter: invert(1);
    mix-blend-mode: difference;
  }

.navElement{
    pointer-events: all;
}

.links{
    color: black;
    text-decoration: none;
    font-family: ralewayBlack;
    transition: color .7s;
}

.links:hover{
    color: rgb(141, 141, 141);
    transition: color .7s;
}


#grain::before{
    z-index: -1;
}


::-webkit-scrollbar {display: none;}

.divScroll{
    overflow-y: scroll;
    padding-top: 170px;
}


@media (max-width: 767px) {
    .name {
        font-size: 30px;
    }

    .subtitle{
        font-size: 10px;
    }

    .divFechas{
        display: block !important;
        margin-bottom: 30px;
    }

    .pFecha{
        padding: 0px !important;
    }

    .navElement{
        font-size: 14px;
    }
  }